# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Test\geektime_bigdata_ly\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
